<ion-list class="preserve-padding">

  <ion-list-header>{{ 'Expansion 1' | translate }}</ion-list-header>
  @for (faction of originalFactions; track faction) {
<ion-item (click)="close(faction.id)">
    <ion-img class="inline-icon" [src]="'assets/inicon/faction-' + faction.icon + '.png'" slot="start"></ion-img>
    <ion-label>{{ ('Factions.' + faction.name) | translate }}</ion-label>
  </ion-item>
}

  <ion-list-header>{{ 'DirectorsCut' | translate }}</ion-list-header>
  @for (faction of dcFactions; track faction) {
<ion-item (click)="close(faction.id)">
    <ion-img class="inline-icon" [src]="'assets/inicon/faction-' + faction.icon + '.png'" slot="start"></ion-img>
    <ion-label>{{ ('Factions.' + faction.name) | translate }}</ion-label>
  </ion-item>
}
  
  <ion-list-header>{{ 'Expansion 2' | translate }}</ion-list-header>
  @for (faction of expansion2Factions; track faction) {
<ion-item (click)="close(faction.id)">
    <ion-img class="inline-icon" [src]="'assets/inicon/faction-' + faction.icon + '.png'" slot="start"></ion-img>
    <ion-label>{{ ('Factions.' + faction.name) | translate }}</ion-label>
  </ion-item>
}

  <ion-list-header>{{ 'Expansion 3 (BETA)' | translate }}</ion-list-header>
  @for (faction of expansion3Factions; track faction) {
<ion-item (click)="close(faction.id)">
    <ion-img class="inline-icon" [src]="'assets/inicon/faction-' + faction.icon + '.png'" slot="start"></ion-img>
    <ion-label>{{ ('Factions.' + faction.name) | translate }}</ion-label>
  </ion-item>
}
  
</ion-list>
